<ul class="collection left-align" [hidden]="editActive">
    <li *ngFor="let user of users" class="collection-item">
        <div>{{user.name}}<a (click)="editUser(user)" class="secondary-content isLink"><i class="fa fa-edit"></i></a></div>
    </li>
</ul>
<div class="row center" [hidden]="!editActive">
    <div class="col s12 m6 push-m3">
        <div class="card indigo darken-1">
            <div class="card-content white-text">
                <span class="card-title">Benutzer Editieren</span>
                <ul class="collection left-align black-text drinkUserList">
                    <li *ngFor="let drink of userDrink.drinks" class="collection-item">
                        <div>
                            {{drink.drinkName}}
                            <a (click)="drinkChange(drink, true)" class="secondary-content isLink"><i class="fa fa-plus"></i></a>
                            <a class="secondary-content">{{drink.count}}</a>
                            <a (click)="drinkChange(drink, false)" class="secondary-content isLink"><i class="fa fa-minus"></i></a>
                        </div>
                    </li>
                </ul>
                <div class="row card-panel red darken-2" [hidden]="!showError">
                    <span class="white-text">{{errorText}}</span>
                </div>
                <div class="row card-panel teal darken-1" [hidden]="!showSuccess">
                    <span class="white-text">{{successText}}</span>
                </div>
            </div>
            <div class="card-action">
                <a class="isLink" (click)="closeEdit(false)" [hidden]="saveOk">ABBRECHEN</a>
                <a class="isLink" (click)="closeEdit(true)" [hidden]="!saveOk">OK</a>
            </div>
        </div>
    </div>
</div>