<ul class="collection left-align" [hidden]="editActive">
    <li *ngFor="let user of users" class="collection-item">
        <div>{{user.name}}<a (click)="editUser(user)" class="secondary-content isLink"><i class="fa fa-edit"></i></a></div>
    </li>
</ul>
<div class="row center" [hidden]="!editActive">
    <div class="col s12 m6 push-m3">
        <div class="card indigo darken-1">
            <div class="card-content white-text">
                <span class="card-title">Benutzer Editieren</span>
                <form>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="editName" name="editName" type="text" class="validate" [(ngModel)]="userToEdit.name" disabled>
                            <label for="editName" class="active">Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="text" name="password" class="validate" [(ngModel)]="userToEdit.password">
                            <label for="password">Passwort</label>
                        </div>
                        <span>Wenn Passwort Feld leer ist -> kein Update</span>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select materialize="material_select" (change)="setRole($event.target.value)">                               
                                <option [ngValue]="role" *ngFor="let role of roles;let i = index">{{role.name}}</option>                                                                              
                            </select>
                            <label>Rolle</label>
                        </div>
                    </div>
                </form>
                <div class="row card-panel red darken-2" [hidden]="!showError">
                    <span class="white-text">{{errorText}}</span>
                </div>
                <div class="row card-panel teal darken-1" [hidden]="!showSuccess">
                    <span class="white-text">{{successText}}</span>
                </div>
            </div>
            <div class="card-action">
                <a class="isLink" (click)="closeEdit(false)" [hidden]="saveOk">ABBRECHEN</a>
                <a class="isLink" (click)="saveUser()" [hidden]="saveOk">SPEICHERN</a>
                <a class="isLink" (click)="closeEdit(true)" [hidden]="!saveOk">OK</a>
            </div>
        </div>
    </div>
</div>