<ul class="collection left-align" [hidden]="editActive">
    <li class="collection-item" (click)="editDay(null)">
        <div>Neuer Tag <a class="secondary-content isLink"><i class="fa fa-plus"></i></a></div>
    </li>
    <li *ngFor="let day of days" class="collection-item" (click)="editDay(day)">
        <div>{{day.date | date:'dd.MM.yyyy'}} {{day.name}}<a class="secondary-content isLink"><i class="fa fa-edit"></i></a></div>
    </li>
</ul>
<div class="row center" [hidden]="!editActive">
    <div class="col s12 m6 push-m3">
        <div class="card indigo darken-1">
            <div class="card-content">
                <span class="card-title">Tag Editieren</span>
                <form>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="datepicker" #datepicker value="{{dayToEdit.date.toString() | date:'EEEE dd.MM.yyyy'}}">
                            <label>Datum</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="text" [(ngModel)]="dayToEdit.name" name="motto">
                            <label>Motto</label>
                        </div>
                    </div>
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab isLink"><a (click)="showTab = 1" [ngClass]="{ 'active tabactive': showTab === 1}">Vormittag</a></li>
                            <li class="tab isLink"><a (click)="showTab = 2" [ngClass]="{ 'active tabactive': showTab === 2}">Mittag</a></li>
                            <li class="tab isLink"><a (click)="showTab = 3" [ngClass]="{ 'active tabactive': showTab === 3}">Abend</a></li>
                        </ul>
                    </div>
                    <div class="card-content grey lighten-4">
                        <div [hidden]="showTab !== 1">
                            <div (click)="editProgram(1)"><i class="fa fa-edit right isLink" ></i> {{dayToEdit.morning.shortName}}</div>
                        </div>
                        <div [hidden]="showTab !== 2">
                            <div (click)="editProgram(2)"><i class="fa fa-edit right isLink"></i> {{dayToEdit.afternoon.shortName}}</div>
                        </div>
                        <div [hidden]="showTab !== 3">
                            <div (click)="editProgram(3)"><i class="fa fa-edit right isLink" ></i> {{dayToEdit.evening.shortName}}</div>
                        </div>
                    </div>
                </form>
                <div class="row card-panel red darken-2" [hidden]="!showError">
                    <span class="white-text">{{errorText}}</span>
                </div>
                <div class="row card-panel teal darken-1" [hidden]="!showSuccess">
                    <span class="white-text">{{successText}}</span>
                </div>
            </div>
            <div class="card-action" [hidden]="delConfirmActive">
                <a class="isLink" (click)="deleteDay()" [hidden]="saveOk || !deleteActive"><i class="fa fa-trash"></i></a>
                <a class="isLink" (click)="closeEdit(false)" [hidden]="saveOk">ABBRECHEN</a>
                <a class="isLink" (click)="saveDay()" [hidden]="saveOk">SPEICHERN</a>
                <a class="isLink" (click)="closeEdit(true)" [hidden]="!saveOk">OK</a>
            </div>
            <div class="card-action" [hidden]="!delConfirmActive">
                    <a class="isLink" (click)="deleteConfirmed()">
                       LÖSCHEN
                    </a>
                    <a class="isLink" (click)="deleteDenied()">ABBRECHEN</a>                  
                </div>
        </div>
    </div>
</div>

<div id="modal1" class="modal" #pointModal>
    <div class="modal-content">
        <ul class="collection">
            <li class="collection-item" [ngClass]="{ active: isSelectedPoint(null)}" (click)="selectedPoint = null">Kein Programm</li>
            <li class="collection-item" *ngFor="let point of programPoints" [ngClass]="{ active: isSelectedPoint(point._id)}" (click)="selectedPoint = point._id">{{point.shortName}}</li>
        </ul>
    </div>
    <div class="modal-footer">
        <a class="modal-action waves-effect waves-red btn-flat" (click)="closeModal(false)">Abbrechen</a>
        <a class="modal-action waves-effect waves-green btn-flat" (click)="closeModal(true)">Auswählen</a>
    </div>
</div>