<div class="row card-panel red darken-2" [hidden]="!showError">
    <span class="white-text">{{errorText}}</span>
</div>
<div class="row card-panel teal darken-1" [hidden]="!showSuccess">
    <span class="white-text">{{successText}}</span>
</div>
<table class="responsive-table">
    <thead>
        <tr>
            <th>Zeit</th>
            <th *ngFor="let day of daysEx"><div (click)="showDayInfo(day)"><i class="fa fa-info-circle"></i> {{day.date | date:'dd.MM.yyyy' }}<span class="hide-on-small-only">- {{day.name}}</span></div> </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Vormittags</td>
            <td *ngFor="let day of daysEx" (click)="showModal(day.morning)">{{day.morning.shortName}}</td>
        </tr>
        <tr>
            <td>Mittags</td>
            <td *ngFor="let day of daysEx" (click)="showModal(day.afternoon)">{{day.afternoon.shortName}}</td>
        </tr>
        <tr>
            <td>Abends</td>
            <td *ngFor="let day of daysEx" (click)="showModal(day.evening)">{{day.evening.shortName}}</td>
        </tr>
    </tbody>
</table>
<div id="modal1" class="modal" #dayModal>
    <div class="modal-content">
        <div class="row">
            {{selectedPoint.shortName}}
        </div>
        <div class="row">
            {{selectedPoint.description}}
        </div>
        <div class="row">
            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>Material</h5>
                </li>
                <li class="collection-item" *ngFor="let mat of selectedPoint.material">
                    {{mat}}
                </li>
            </ul>
        </div>
        <div class="row">
            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>Personen</h5>
                </li>
                <li class="collection-item" *ngFor="let person of selectedPoint.people">
                    {{person}}
                </li>
            </ul>
        </div>
        <div class="row">
            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>Anhänge</h5>
                </li>
                <li class="collection-item isLink" *ngFor="let attachment of selectedPoint.attachments">
                    <div (click)="getAttachment(attachment)">{{attachment | slice:0:30}}<a class="secondary-content"><i class="fa fa-download"></i></a></div>
                </li>
            </ul>
        </div>
        <div class="row">
            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>Links</h5>
                </li>
                <li class="collection-item" *ngFor="let link of selectedPoint.links">
                    <a href="{{link}}" target="_blank">{{link | slice:0:20}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
            <a class="waves-effect waves-light btn" (click)="closeModal()">OK</a>
    </div>
</div>

<div id="modal2" class="modal" #dayInfoModal>
        <div class="modal-content">           
            <div class="row">
                Datum: {{selectedDay.date | date:'dd.MM.yyyy' }}
            </div>         
            <div class="row">
                   Motto: {{selectedDay.name}}
                </div>
        <div class="modal-footer">
                <a class="waves-effect waves-light btn" (click)="closeInfoModal()">OK</a>            
        </div>
    </div>