<ul class="collection left-align" [hidden]="editActive">
  <li class="collection-item" (click)="editRule(null)">
      <div>Neue Regel <a class="secondary-content isLink"><i class="fa fa-plus"></i></a></div>
  </li>
  <li *ngFor="let rule of rules" class="collection-item" (click)="editRule(rule)">
      <div>{{rule.name}}<a class="secondary-content isLink"><i class="fa fa-edit"></i></a></div>
  </li>
</ul>
<div class="row center" [hidden]="!editActive">
  <div class="col s12 m6 push-m3">
      <div class="card indigo darken-1">
          <div class="card-content">
              <span class="card-title">Regel Editieren</span>
              <form>
                  <div class="row">                    
                      <div class="input-field col s12">
                          <input type="text" [(ngModel)]="ruleToEdit.name" name="regel">
                          <label>Regel Text</label>
                      </div>
                  </div>
              </form>
              <div class="row card-panel red darken-2" [hidden]="!showError">
                  <span class="white-text">{{errorText}}</span>
              </div>
              <div class="row card-panel teal darken-1" [hidden]="!showSuccess">
                  <span class="white-text">{{successText}}</span>
              </div>
          </div>
          <div class="card-action" [hidden]="delConfirmActive">
              <a class="isLink" (click)="deleteRule()" [hidden]="saveOk || !deleteActive"><i class="fa fa-trash"></i></a>
              <a class="isLink" (click)="closeEdit(false)" [hidden]="saveOk">ABBRECHEN</a>
              <a class="isLink" (click)="saveRule()" [hidden]="saveOk">SPEICHERN</a>
              <a class="isLink" (click)="closeEdit(true)" [hidden]="!saveOk">OK</a>
          </div>
          <div class="card-action" [hidden]="!delConfirmActive">
                <a class="isLink" (click)="deleteConfirmed()">
                   LÖSCHEN
                </a>
                <a class="isLink" (click)="deleteDenied()">ABBRECHEN</a>                  
            </div>
      </div>
  </div>
</div>

