<div style="text-align:center">
    <h1>
        {{title}}
    </h1>
</div>
<div class="row">
    <div class="col s10 offset-s1 l6 offset-l3">
        <form>
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" placeholder="" name="name" type="text" class="validate" [(ngModel)]="user.name" autocomplete="username">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" placeholder="" type="password" name="password" class="validate" [(ngModel)]="user.password" autocomplete="current-password">
                    <label for="password">Passwort</label>
                </div>
            </div>
        </form>
        <div class="row card-panel red darken-2" [hidden]="!showError">
            <span class="white-text">{{errorText}}</span>
        </div>
        <div class="row">
            <a class="col s6 waves-effect waves-light btn blue" routerLink="/register">Registrieren</a>
            <a class="col s4 offset-s2 waves-effect waves-light btn blue" (click)="login()">Login</a>
        </div>      
    </div>
</div>