<div class="newDrinksButtons col s1">
    <div class="row" *ngFor="let drink of userDrink.drinks">
        <div class="col s2">
            <button class="waves-effect waves-light btn-large" (click)="drinkChange(drink, true)"><i class="fa fa-plus"></i></button>
        </div>
        <div class="col s8">
            <button class="waves-effect waves-light btn-large">{{drink.drinkName}} {{drink.count}}</button>
        </div>
        <div class="col s2">
            <button class="waves-effect waves-light btn-large" (click)="drinkChange(drink, false)"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="row card-panel red darken-2" [hidden]="!showError">
        <span class="white-text">{{errorText}}</span>
    </div>
    <div class="row card-panel teal darken-1" [hidden]="!showSuccess">
        <span class="white-text">{{successText}}</span>
    </div>
</div>