<!-- <div class="row">
    <a class="col s6 waves-effect waves-light btn blue" (click)="startPush()">Start Push</a>
    <a class="col s4 offset-s2 waves-effect waves-light btn blue" (click)="testPush()">Test</a>
</div>
<div class="row">
    <a class="col s4 offset-s2 waves-effect waves-light btn blue" (click)="unsubscribe()">unsubscribe</a>
</div> -->
<table class="striped bordered">
    <thead>
        <th>Name</th>
        <th *ngFor="let drink of drinks">{{drink.name}}</th>
    </thead>
    <tbody>
        <tr *ngFor="let userDrink of userDrinks">
            <td>{{userDrink.userName}}</td>
            <td *ngFor="let drink of userDrink.drinks">{{drink.count}}</td>
        </tr>
    </tbody>
</table>