<!--The content below is only a placeholder and can be replaced.-->
<nav [hidden]="!loggedin" class="nav-extended indigo darken-1">
    <div class="nav-wrapper">
        <!-- <a class="brand-logo right" (click)>X</a> -->
        <ul id="nav-mobile" class="left">
            <li [hidden]="!isAdmin"><a (click)="showSubMenu(1)"><i class="fa fa-user-circle"></i> <span class="hide-on-small-only">Admin</span></a></li>
            <li><a (click)="showSubMenu(2)"><i class="fa fa-beer"></i> <span class="hide-on-small-only">Getränke</span></a></li>
            <li><a (click)="showSubMenu(3)"><i class="fa fa-home"></i> <span class="hide-on-small-only">Lager</span></a></li>
            <li><a (click)="showSubMenu(4)"><i class="fa fa-hand-point-up"></i> <span class="hide-on-small-only">Regeln</span></a></li>
            <li><a routerLink="/login" (click)="logout()"><i class="fa fa-sign-out-alt"></i> <span class="hide-on-small-only">Logout</span></a></li>
        </ul>
    </div>
    <div class="nav-content" [hidden]="openTab !== 1">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a routerLink="/users"><i class="fa fa-users"></i> <span class="hide-on-small-only">Benutzer</span></a></li>
            <li class="tab"><a routerLink="/userDrinkAdmin"><i class="fa fa-sort"></i> <span class="hide-on-small-only">Nachtragen</span></a></li>
            <li class="tab"><a routerLink="/drinksAdmin"><i class="fas fa-wine-glass"></i> <span class="hide-on-small-only">Getränk</span></a></li>
        </ul>
    </div>
    <div class="nav-content" [hidden]="openTab !== 2">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a routerLink="/drinks"><i class="fa fa-plus"></i> <span class="hide-on-small-only">Eintragen</span></a></li>
            <li class="tab"><a routerLink="/overview"><i class="fa fa-bars"></i> <span class="hide-on-small-only">Übersicht</span></a></li>
            <li class="tab"><a routerLink="/daily"><i class="fa fa-trophy"></i> <span class="hide-on-small-only">Daily</span></a></li>
        </ul>
    </div>
    <div class="nav-content" [hidden]="openTab !== 3">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a routerLink="/jobs"><i class="fa fa-industry"></i> <span class="hide-on-small-only">Jobs</span></a></li>
            <li class="tab"><a routerLink="/dailyPlan"><i class="fa fa-list-alt"></i> <span class="hide-on-small-only">Tagesplan</span></a></li>
            <li class="tab"><a routerLink="/newDay"><i class="fa fa-sun"></i> <span class="hide-on-small-only">Tag</span></a></li>
            <li class="tab"><a routerLink="/program"><i class="fa fa-tasks"></i> <span class="hide-on-small-only">Programm</span></a></li>
        </ul>
    </div>
    <div class="nav-content" [hidden]="openTab !== 4">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a routerLink="/rules"><i class="fa fa-child"></i> <span class="hide-on-small-only">Kinder</span></a></li>          
            <li class="tab"><a routerLink="/teamrules"><i class="fa fa-male"></i> <span class="hide-on-small-only">Leiter</span></a></li>          
        </ul>
    </div>
</nav>
<div [ngClass]="isNotPlanRoute()" class="center-align">
    <router-outlet></router-outlet>
</div>