<!--The content below is only a placeholder and can be replaced.-->
<nav [hidden]="!loggedin" class="nav-extended indigo darken-1">
    <div class="nav-wrapper">
        <!-- <a class="brand-logo right" (click)>X</a> -->
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a (click)="showSubMenu(1)">Admin</a></li>
            <li><a (click)="showSubMenu(2)">Getränke</a></li>
            <li><a routerLink="/login" (click)="logout()">Logout</a></li>
        </ul>
    </div>
    <div class="nav-content" [hidden]="openTab !== 1">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a routerLink="/users"><i class="fa fa-key"></i>Ändern</a></li>
            <li class="tab"><a routerLink="/userDrinkAdmin"><i class="fa fa-beer"></i>Benutzer</a></li>
            <li class="tab"><a routerLink="/drinksAdmin"><i class="fa fa-glass"></i>Neu</a></li>
        </ul>
    </div>
    <div class="nav-content" [hidden]="openTab !== 2">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a routerLink="/drinks">Eintragen</a></li>
        </ul>
    </div>
</nav>
<div class="container center-align">
    <router-outlet></router-outlet>
</div>