/* You can add global styles to this file, and also import other style files */

.isLink {
    cursor: pointer;
}

.drinkUserList .secondary-content {
    margin-right: 15px;
}

.newDrinksButtons button {
    width: 100%;
}

.newDrinksButtons {
    margin-top: 25px;
}

.input-field select.browser-default {
    width: 100%;
    height: auto;
    opacity: 1;
}